/*.navbar {
  position: fixed;
  top: 0;
}
*/
html {
  font-size: 1rem;
}
.imagem-carrossel-um {
  object-fit: cover;
  object-position: 0 80%;
  height: 400px;
}

.imagem-carrossel-dois {
  object-fit: cover;
  /*object-position: 0 80%;*/
  height: 400px;
}

.fonte-titulo{
  font-family: 'Pacifico', cursive;
}

.cor-especial{
  color: darkred !important;
}
/*
Relembrando que as classes de espaçamento do Bootstrap trabalham 
com valores de 0 a 5, o código acima diz que cada um dos "lados" 
da margem tem um valor de espaçamento diferente. Comparando com 
o mesmo código em CSS:

mt-1 = margin-top: 1rem;
mb-2 = margin-bottom: 2rem;
ml-3 = margin-left: 3rem;
mr-4 = margin-right: 4rem;
px-2 e px-4 = padding: 4rem 2rem;

*/

.botao-cor-especial{
  background-color: darkred;
  color: white;
}

.borda-cor-especial{
  border-color: darkred;
}

.card-posicao-imagem{
  object-fit: cover;
  height: 200px;
}
.card-largura{
  max-width: 18rem;
}

/*O sistema de grid nos permite indicar individualmente qual a quantidade de colunas 
(em um espaço de 12 colunas) cada elemento irá ocupar, dependendo do tamanho da tela.
 Em telas menores o espaço total de colunas pode ser ocupado por somente um elemento, 
 enquanto em telas mais largas, podemos acomodar uma quantidade maior de elementos por linha.
 
 container 
|----- linha
        |----- colunas
 
 */


 .card-imagem {
  width: 18rem;
  object-fit:cover;
  object-position: 0 60%;
}

.card-imagem-top {
  height:200px;
  object-fit:cover;
  object-position: 0 60%;
}

.thumb-redondo {
  border-radius:50%; 
  width:250px; 
  height:250px; 
  object-fit:cover; 
  object-position: 0 60%; 
}

.icones {
  font-size: 2rem;
}




 @include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}